:root {
    --scroll-opacity: 0.5;
    --glow-opacity: 0; 
}

.first-fold {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


body {
    background-image: 
    linear-gradient(rgba(0,0,0, var(--scroll-opacity)), rgba(0,0,0, var(--scroll-opacity))),
    url('assets/rx7_background.jpg');

    background-repeat: no-repeat;            
    background-size: cover;                  
    background-position: center;   
    background-attachment: fixed;

    margin: 0;
    min-height: 200vh;
    position: relative; 
    overflow-x: hidden;
    
    transition: background-image 0.1s ease; 

}

html, body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px;

    position: absolute;
    top: 50vh;           
    transform: translateY(-50%); 

    left: 0;
    padding-left: 10vw;   
    
    width: auto;         
    z-index: 5;
}

.image_container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; 
    
    box-shadow: 0 0 0 2px white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0; 
}

.profile_image {
    width: 100%; 
    height: auto; 
    object-fit: cover;

    position: relative;
    top: -7px; 
    left: 10px;
}

.hero_text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

}

.hero_text {
    color: #FFFFFF;
    font-family: "Imprima", sans-serif;
    font-size: clamp(2.25rem, 4vw, 3rem); 
    font-weight: 400;
    margin: 0;
    max-width: 23rem; 

    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.specialty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem;
}

.laptop_icon {
    width: 30px;
    height: 30px;
}

.specialty_text {
    color: #FFF;
    font-family: "Imprima", sans-serif;
    font-size: clamp(0.75rem, 2vw, 1rem);
    font-weight: 400;
    margin: 0;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}


.socials {
    position: fixed;
    top: 50vh;           
    transform: translateY(-50%); 

    right: 2vw;          
    
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 10;
    opacity: var(--glow-opacity, 0);
}
.github, .linkedin, .email, .tiktok, .instagram {
    cursor: pointer;      
    z-index: 10;
    width: 30px; 
    height: 30px;
    transition: transform 0.3s ease;

    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
}


.github:hover, .linkedin:hover, .email:hover, .tiktok:hover, .instagram:hover {
    transform: scale(1.1); 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.socials a {
    opacity: 0; 
    display: inline-block;
}

.socials a.animate {
    animation: slideInRight 0.8s ease forwards;
}

.continue_prompt_container {
    position: fixed;
    top: 95vh; 
    transform: translate(-50%, -150%); 
    left: 50%;                
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;          
    z-index: 10;              
}

.continue {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;

    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));

}

.continue:hover {
    transform: scale(1.1);
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('assets/rx7_lights_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    opacity: var(--glow-opacity, 0);
    
    filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.8)) brightness(2);
    
    pointer-events: none; 
    z-index: -1; 

    opacity: var(--glow-opacity); 
    transition: opacity 0.1s ease; 
}

.navbar {
    width: auto;
    max-width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    position: fixed; 
    top: 1rem;     

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 2.5rem;

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50px; 
    padding: 0.75rem 2rem; 
    
    opacity: var(--glow-opacity, 0);
    transition: all 0.4s ease; 
    pointer-events: none;
    z-index: 100;
}

.navbar:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.8); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.nav_item, .nav_logo_container {
    pointer-events: auto;
}

.nav_logo_container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0 0 0 2px white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav_logo_container:hover {
    transform: scale(1.1); 
}


.navbar_image {
    width: 99%;
    height: auto;
    object-fit: cover;

    position: relative;
    top: 2px;
    left: -0.5px;
}


.nav_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Imprima", sans-serif;
    font-size: 1.5rem;
}

.nav_item {
    position: relative; 
    cursor: pointer;
    transition: color 0.3s ease;
    color: rgba(255, 255, 255, 0.6); 

    transition: transform 0.3s ease;
}

.nav_item.active {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
                 0 0 20px rgba(255, 255, 255, 0.3);
}

.nav_item:hover {
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);

    transition: transform 0.3s ease, padding 0.3s ease;
}


.nav_item:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%; 
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.nav_item.active::after {
    width: 100%; 
}