.second-fold {
    position: relative;
    min-height: 1000vh;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    z-index: 5;
    padding-top: 10vh; 
    padding-left: 5vw; 
}

.navbar {
    width: 100%;
    justify-content: center;
    
    position: fixed; 
    top: -15px;      

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    opacity: var(--glow-opacity, 0);
    transition: opacity 0.1s ease;

    padding: 15px 30px;           
    transform: translateY(50%); 

    position: fixed;
}

.nav_logo_container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0 0 0 2px white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav_logo_container:hover {
    transform: scale(1.1); 
}


.navbar_image {
    width: 99%;
    height: auto;
    object-fit: cover;

    position: relative;
    top: 2px;
    left: -0.5px;
}


.nav_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Imprima", sans-serif;
    font-size: 20px;
}

.nav_item {
    position: relative; 
    cursor: pointer;
    transition: color 0.3s ease;
    color: rgba(255, 255, 255, 0.6); 
}

.nav_item.active {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
                 0 0 20px rgba(255, 255, 255, 0.3);
}

.nav_item:hover {
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}


.nav_item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%; 
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.nav_item.active::after {
    width: 100%; 
}

.display_window {
    position: relative;
    width: 600px; 
    opacity: var(--glow-opacity, 0);
    transition: opacity 0.1s ease;
    margin-top: 80px; 
}

.content_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    pointer-events: none;
    transform: translateY(15px); 
    transition: opacity 0.4s ease, transform 0.4s ease;

    color: white;
    font-family: "Imprima", sans-serif;
}

.content_screen.active {
    opacity: 1;
    pointer-events: auto; 
    transform: translateY(0);
}

.bio_heading {
    width: 500px;
    font-size: clamp(18px, 4vw, 26px);
}

.bio {
    width: 500px;
    line-height: 1.6;
}

.highlight {
    color: #ff0000;
    text-shadow: 0 0 8px rgba(255, 215, 0, 0.8);
}



