.second-fold {
    position: relative;
    min-height: 1000vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
    flex-direction: row;
}

.navbar {
    width: 100%;
    justify-content: center;
    
    position: fixed; 
    top: 10px;      

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;

    opacity: var(--glow-opacity, 0);
    transition: opacity 0.1s ease;

    padding: 15px 30px;           
    transform: translateY(50%); 

    position: fixed;
}

.nav_logo_container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0 0 0 2px white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav_logo_container:hover {
    transform: scale(1.1); 
}


.navbar_image {
    width: 99%;
    height: auto;
    object-fit: cover;

    position: relative;
    top: 2px;
    left: -0.5px;
}


.nav_links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Imprima", sans-serif;
    font-size: 20px;
}

.nav_item {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav_item:hover {
    transform: scale(1.1); 
}

