@media screen and (pointer: coarse) {
    body::after {
        display: none; 
    }

    body {
        background-image: none; 
        background-color: #000;
    }

    body::before {
        content: "";
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        background-image: 
        url('assets/rx7_background.jpg');
        background-repeat: no-repeat;            
        background-size: cover;                  
        background-position: center;   
        
        z-index: -2; 
        pointer-events: none;
    }
}